#canvas{
	display: block;
	margin:0 auto;
	box-shadow: 0 10px 16px rgba(0,0,0,0.3);
}
#controller{
	width: 800px;
	margin: 0 auto;
}
.op_btn{
	float: right;
	margin: 10px 0 0 10px;
	border: 3px solid peru;
	width: 80px;
	height: 40px;
	text-align: center;
	line-height: 35px;
	font-size: 20px;
	cursor: pointer;
	background: white;
	font-weight: bold;
	border-radius: 5px;
}
.op_btn:hover{
	background: #def;
}
.clearfix{
	clear: both;
}
.color_btn{
	float: left;
	margin: 10px 10px 0 0;
	border: 5px solid white;
	width: 40px;
	height: 40px;
	border-radius: 5px 5px;
	cursor: pointer;
}
.color_btn:hover{
	border: 5px solid violet;
}
.color_btn_selected{
	border: 5px solid blueviolet;
}
#block_btn{
	background: black;
}
#blue_btn{
	background:blue;
}
#green_btn{
	background:green;
}
#red_btn{
	background: red;
}
#orange_btn{
	background: orange;
}
#yellow_btn{
	background:yellow;
}
